[Unit]
Description=Bible.Local WiFi

[Service]
ExecStart=nmcli device wifi hotspot ssid ////wifi-ssid//// password ////wifi-password////
Type=simple
Restart=on-failure
RestartSec=4s

[Install]
WantedBy=multi-user.target
