[Unit]
Description=Duplication web UI for BibleSD and Bible.Local duplication
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/servant 
ExecStart=java watercarrier.DuplicationStation mmcblk0 /home/servant/biblesd.img.gz 7000
Restart=on-failure

[Install]
WantedBy=multi-user.target
